@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/main-bg.svg");
  background-size: cover;
  height: 100vh;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
